.wrapperContent {
  margin: 0;
  padding: 0;
  text-align: center;
}
.screen_1 {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
.bGsectionL {
  width: 200%;
  height: 100vh;
}
.bGsectionR {
  width: 300%;
  height: 100vh;
}
.screen_2 {
  height: 100vh;
  background-color: #282828;
}
